// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2025 Armbian for W132D TV Box
 *
 * Device Tree Source for Rockchip RK3528 W132D (CMCC CloudPC/IPTV)
 * Based on hardware configuration from stock Android DTS,
 * adapted for mainline/u-boot kernel (linux-6.1.y-rockchip).
 */

/dts-v1/;

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/input/rk-input.h>
#include <dt-bindings/pinctrl/rockchip.h>
#include "rk3528.dtsi"

/ {
	model = "Rockchip RK3528 W132D CMCC CloudPC/IPTV";
	compatible = "rockchip,rk3528-w132d", "rockchip,rk3528";

	aliases {
		ethernet0 = &gmac0;
		mmc0 = &sdhci;
		mmc1 = &sdio1;
	};

	chosen: chosen {
		bootargs = "earlycon=uart8250,mmio32,0xff9f0000 console=ttyS0,1500000n8 rw rootwait video=HDMI-A-1:1920x1080@60";
	};

	fiq_debugger: fiq-debugger {
		compatible = "rockchip,fiq-debugger";
		rockchip,serial-id = <0>;
		rockchip,wake-irq = <0>;
		rockchip,irq-mode-enable = <1>;
		rockchip,baudrate = <1500000>;
		interrupts = <GIC_SPI 186 IRQ_TYPE_LEVEL_HIGH>;
		pinctrl-names = "default";
		pinctrl-0 = <&uart0m0_xfer>;
		status = "disabled";
	};

	firmware: firmware {
		optee {
			compatible = "linaro,optee-tz";
			method = "smc";
		};
	};

	reserved_memory: reserved-memory {
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;

		cma {
			compatible = "shared-dma-pool";
			reusable;
			size = <0x00 0x2000000>;
			linux,cma-default;
		};

		drm_logo: drm-logo@0 {
			compatible = "rockchip,drm-logo";
			reg = <0x0 0x0 0x0 0x0>;
		};

		drm_cubic_lut: drm-cubic-lut@0 {
			compatible = "rockchip,drm-cubic-lut";
			reg = <0x0 0x0 0x0 0x0>;
		};

		ramoops: ramoops@110000 {
			compatible = "ramoops";
			reg = <0x0 0x110000 0x0 0xe0000>;
			boot-log-size = <0x8000>;
			boot-log-count = <1>;
			console-size = <0x80000>;
			pmsg-size = <0x30000>;
			ftrace-size = <0>;
			record-size = <0x14000>;
		};
	};

	acodec_sound: acodec-sound {
		status = "okay";
		compatible = "simple-audio-card";
		simple-audio-card,name = "rk3528-acodec";
		simple-audio-card,format = "i2s";
		simple-audio-card,mclk-fs = <256>;
		simple-audio-card,cpu {
			sound-dai = <&sai2>;
		};
		simple-audio-card,codec {
			sound-dai = <&acodec>;
		};
	};

	adc_keys: adc-keys {
		status = "okay";
		compatible = "adc-keys";
		io-channels = <&saradc 1>;
		io-channel-names = "buttons";
		keyup-threshold-microvolt = <1800000>;
		poll-interval = <100>;

		reset-key {
			label = "reset";
			linux,code = <KEY_POWER>;
			press-threshold-microvolt = <1750>;
		};
	};

	bt_sco: bt-sco {
		status = "okay";
		compatible = "delta,dfbmcs320";
		#sound-dai-cells = <1>;
	};

	bt_sound: bt-sound {
		status = "okay";
		compatible = "simple-audio-card";
		simple-audio-card,format = "dsp_a";
		simple-audio-card,bitclock-inversion;
		simple-audio-card,mclk-fs = <256>;
		simple-audio-card,name = "rockchip,bt";
		simple-audio-card,cpu {
			sound-dai = <&sai0>;
		};
		simple-audio-card,codec {
			sound-dai = <&bt_sco 1>;
		};
	};

	dc_12v: dc-12v {
		compatible = "regulator-fixed";
		regulator-name = "dc_12v";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <12000000>;
		regulator-max-microvolt = <12000000>;
	};

	hdmi_sound: hdmi-sound {
		compatible = "rockchip,hdmi";
		rockchip,mclk-fs = <128>;
		rockchip,card-name = "rockchip,hdmi";
		rockchip,cpu = <&sai3>;
		rockchip,codec = <&hdmi>;
		rockchip,jack-det;
	};

	leds: gpio-leds {
		compatible = "gpio-leds";

		net-red {
			gpios = <&gpio4 RK_PB7 GPIO_ACTIVE_HIGH>;
			linux,default-trigger = "none";
			default-state = "off";
		};

		net-green {
			gpios = <&gpio4 RK_PC0 GPIO_ACTIVE_HIGH>;
			linux,default-trigger = "none";
			default-state = "off";
		};

		pwr-red {
			gpios = <&gpio1 RK_PC2 GPIO_ACTIVE_HIGH>;
			linux,default-trigger = "none";
			default-state = "off";
			retain-state-suspended;
			retain-state-shutdown;
		};

		pwr-green {
			gpios = <&gpio4 RK_PC1 GPIO_ACTIVE_HIGH>;
			linux,default-trigger = "none";
			default-state = "on";
			retain-state-suspended;
			retain-state-shutdown;
		};
	};

	/*
	 * WiFi/BT power sequence.
	 * wifi-enable-h (GPIO3_PB2) is the regulator enable for WiFi;
	 * wifi-reset (GPIO3_PB4) is the reset line.
	 * Both are referenced by the sdio_pwrseq node.
	 */
	sdio_pwrseq: sdio-pwrseq {
		compatible = "mmc-pwrseq-simple";
		pinctrl-names = "default";
		pinctrl-0 = <&wifi_reg_on_h &wifi_reset>;
		/*
		 * GPIO3_PB2 = wifi enable (reg_on), active high
		 * The pwrseq driver asserts this before scanning SDIO.
		 */
		reset-gpios = <&gpio3 RK_PB2 GPIO_ACTIVE_LOW>;
	};

	spdif_out: spdif-out {
		status = "okay";
		compatible = "linux,spdif-dit";
		#sound-dai-cells = <0>;
	};

	spdif-sound {
		status = "okay";
		compatible = "simple-audio-card";
		simple-audio-card,name = "ROCKCHIP,SPDIF";
		simple-audio-card,cpu {
			sound-dai = <&spdif_8ch>;
		};
		simple-audio-card,codec {
			sound-dai = <&spdif_out>;
		};
	};

	/* Root 5V system supply from DC 12V */
	vcc5v0_sys: vcc5v0-sys {
		compatible = "regulator-fixed";
		regulator-name = "vcc5v0_sys";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		vin-supply = <&dc_12v>;
	};

	/*
	 * USB Host 5V supply.
	 * GPIO4_PB4 controls the 5V boost/enable for USB ports.
	 * This was the root cause of USB 2.0 not working ?
	 * the earlier DTS had GPIO4_PB4 instead of GPIO4_PC4.
	 */
	vcc5v0_host: vcc5v0-host-regulator {
		compatible = "regulator-fixed";
		regulator-name = "vcc5v0_host";
		regulator-boot-on;
		regulator-always-on;
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		enable-active-high;
		gpio = <&gpio4 RK_PB4 GPIO_ACTIVE_HIGH>;
		vin-supply = <&vcc5v0_sys>;
		pinctrl-names = "default";
		pinctrl-0 = <&vcc5v0_host_en>;
	};

	/*
	 * CPU voltage: PWM regulator on PWM1 channel 0.
	 * This matches the Android DTS: pwms = <pwm1 0 5000 1>
	 */
	vdd_cpu: vdd-cpu {
		compatible = "pwm-regulator";
		pwms = <&pwm1 0 5000 1>;
		regulator-name = "vdd_cpu";
		regulator-min-microvolt = <746000>;
		regulator-max-microvolt = <1201000>;
		regulator-init-microvolt = <953000>;
		regulator-always-on;
		regulator-boot-on;
		regulator-settling-time-up-us = <250>;
		pwm-supply = <&vcc5v0_sys>;
	};

	/*
	 * Logic voltage: PWM regulator on PWM2 channel 0.
	 */
	vdd_logic: vdd-logic {
		compatible = "pwm-regulator";
		pwms = <&pwm2 0 5000 1>;
		regulator-name = "vdd_logic";
		regulator-min-microvolt = <703000>;
		regulator-max-microvolt = <1006000>;
		regulator-init-microvolt = <900000>;
		regulator-always-on;
		regulator-boot-on;
		regulator-settling-time-up-us = <250>;
		pwm-supply = <&vcc5v0_sys>;
	};

	vdd_0v9_s3: vdd-0v9-s3 {
		compatible = "regulator-fixed";
		regulator-name = "vdd_0v9_s3";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <900000>;
		regulator-max-microvolt = <900000>;
		vin-supply = <&vcc5v0_sys>;
	};

	vdd_1v8_s3: vdd-1v8-s3 {
		compatible = "regulator-fixed";
		regulator-name = "vdd_1v8_s3";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		vin-supply = <&vcc5v0_sys>;
	};

	vcc_3v3_s3: vcc-3v3-s3 {
		compatible = "regulator-fixed";
		regulator-name = "vcc_3v3_s3";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		vin-supply = <&vcc5v0_sys>;
	};

	vcc_ddr_s3: vcc-ddr-s3 {
		compatible = "regulator-fixed";
		regulator-name = "vcc_ddr_s3";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <1200000>;
		regulator-max-microvolt = <1200000>;
		vin-supply = <&vcc5v0_sys>;
	};

	/*
	 * Bluetooth: UART2 + RTS GPIO + wake host IRQ.
	 * The chip is likely Realtek RTL8761B or similar.
	 * BT,wake_host_irq = GPIO3_PC1
	 * uart_rts_gpios = GPIO3_PA2
	 */
	wireless_bluetooth: wireless-bluetooth {
		compatible = "bluetooth-platdata";
		uart_rts_gpios = <&gpio3 RK_PA2 GPIO_ACTIVE_LOW>;
		pinctrl-names = "default", "rts_gpio";
		pinctrl-0 = <&uart2m0_xfer &uart2m0_ctsn>;
		pinctrl-1 = <&uart2m0_gpios>;
		BT,wake_host_irq = <&gpio3 RK_PC1 GPIO_ACTIVE_HIGH>;
		status = "okay";
	};

	/*
	 * WiFi: SDIO-attached, likely Sprd wireless chipset.
	 * host_wake_irq = GPIO3_PB3
	 */
	wireless_wlan: wireless-wlan {
		compatible = "wlan-platdata";
		rockchip,grf = <&grf>;
		wifi_chip_type = "sprdwl";
		pinctrl-names = "default";
		pinctrl-0 = <&wifi_host_wake_irq>;
		WIFI,host_wake_irq = <&gpio3 RK_PB3 GPIO_ACTIVE_HIGH>;
		status = "okay";
	};

	/*
	 * Poweroff: uses syscon-poweroff via the RK3528 internal PMU.
	 * This is the standard approach for RK3528 boards without an
	 * external PMIC that has a dedicated poweroff GPIO.
	 */
	pmu_poweroff: pmu-poweroff {
		compatible = "syscon-poweroff";
		regmap = <&pmu>;
		offset = <0x0020>;
		mask = <0x0001>;
	};
};

&acodec {
	pa-ctl-gpios = <&gpio4 RK_PA2 GPIO_ACTIVE_HIGH>;
	status = "okay";
};

&avsd {
	status = "okay";
};

/*
 * CombPHY: used for USB 3.0 SuperSpeed signaling.
 * Must have rockchip,u3phy-only since W132D only uses USB3 host.
 */
&combphy_pu {
	rockchip,enable-ssc;
	rockchip,u3phy-only;
	status = "okay";
};

&cpu0 {
	cpu-supply = <&vdd_cpu>;
};

&crypto {
	status = "okay";
};

&dfi {
	status = "okay";
};

&display_subsystem {
	memory-region = <&drm_logo>, <&drm_cubic_lut>;
	memory-region-names = "drm-logo", "drm-cubic-lut";
	status = "okay";

	route {
		route_hdmi: route-hdmi {
			status = "okay";
			logo,uboot = "logo.bmp";
			logo,kernel = "logo_kernel.bmp";
			logo,mode = "center";
			charge_logo,mode = "center";
			connect = <&vp0_out_hdmi>;
		};
		route_tve: route-tve {
			status = "disabled";
		};
	};
};

&dmc {
	center-supply = <&vdd_logic>;
	status = "okay";
};

&gmac0 {
	status = "okay";
};

&gpu {
	mali-supply = <&vdd_logic>;
	status = "okay";
};

&gpu_bus {
	bus-supply = <&vdd_logic>;
	status = "okay";
};

&hdmi {
	status = "okay";
};

&hdmi_in_vp0 {
	status = "okay";
};

&hdmiphy {
	status = "okay";
};

&iep {
	status = "okay";
};

&iep_mmu {
	status = "okay";
};

&jpegd {
	status = "okay";
};

&jpegd_mmu {
	status = "okay";
};

&mpp_srv {
	status = "okay";
};

&pinctrl {
	usb {
		/*
		 * USB 5V host power enable: GPIO4_PC4.
		 * CORRECTED from GPIO4_PB4 ? this was the root cause
		 * of USB 2.0 ports having no power.
		 */
		vcc5v0_host_en: vcc5v0-host-en {
			rockchip,pins = <4 RK_PB4 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

	sdio-pwrseq {
		/*
		 * WiFi regulator enable: GPIO3_PB2
		 */
		wifi_reg_on_h: wifi-reg-on-h {
			rockchip,pins = <3 RK_PB2 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

	wireless-wlan {
		/*
		 * WiFi host wake: GPIO3_PB3, pull-down
		 */
		wifi_host_wake_irq: wifi-host-wake-irq {
			rockchip,pins = <3 RK_PB3 RK_FUNC_GPIO &pcfg_pull_down>;
		};

		/*
		 * WiFi reset: GPIO3_PB4, output high
		 */
		wifi_reset: wifi-reset {
			rockchip,pins = <3 RK_PB4 RK_FUNC_GPIO &pcfg_output_high>;
		};
	};

	wireless-bluetooth {
		/*
		 * BT RTS control: GPIO3_PA2
		 */
		uart2m0_gpios: uart2m0-gpios {
			rockchip,pins = <3 RK_PA2 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};
};

&pmu {
	system-power-controller;
	status = "okay";
};

&pwm1 {
	status = "okay";
};

&pwm2 {
	status = "okay";
};

&pwm3 {
	compatible = "rockchip,remotectl-pwm";
	pinctrl-names = "default";
	pinctrl-0 = <&pwm3m0_pins>;
	remote_pwm_id = <3>;
	handle_cpu_id = <1>;
	remote_support_psci = <0>;
	status = "okay";
};

&rga2 {
	status = "okay";
};

&rga2_mmu {
	status = "okay";
};

&rkvdec {
	status = "okay";
};

&rkvdec_mmu {
	status = "okay";
};

&rkvenc {
	status = "okay";
};

&rkvenc_mmu {
	status = "okay";
};

&rng {
	status = "okay";
};

&rockchip_suspend {
	status = "okay";
	rockchip,sleep-debug-en = <1>;
	rockchip,virtual-poweroff = <1>;
	rockchip,sleep-mode-config = <
		(0
		| RKPM_SLP_ARMPD
		)
	>;
	rockchip,wakeup-config = <
		(0
		| RKPM_CPU0_WKUP_EN
		| RKPM_GPIO_WKUP_EN
		)
	>;
	rockchip,pwm-regulator-config = <
		(0
		| RKPM_PWM1_M0_REGULATOR_EN
		)
	>;
};

&sai0 {
	pinctrl-0 = <&i2s0m0_lrck &i2s0m0_sclk &i2s0m0_sdi &i2s0m0_sdo>;
	status = "okay";
};

&sai2 {
	status = "okay";
};

&sai3 {
	status = "okay";
};

&saradc {
	status = "okay";
	vref-supply = <&vdd_1v8_s3>;
};

&sdhci {
	bus-width = <8>;
	supports-emmc;
	non-removable;
	mmc-hs400-1_8v;
	mmc-hs400-enhanced-strobe;
	max-frequency = <200000000>;
	fixed-emmc-driver-type = <4>;
	status = "okay";
};

&sdio1 {
	max-frequency = <200000000>;
	no-sd;
	no-mmc;
	supports-sdio;
	bus-width = <4>;
	disable-wp;
	cap-sd-highspeed;
	cap-sdio-irq;
	keep-power-in-suspend;
	non-removable;
	mmc-pwrseq = <&sdio_pwrseq>;
	pinctrl-names = "default";
	pinctrl-0 = <&sdio1_bus4 &sdio1_cmd &sdio1_clk>;
	sd-uhs-sdr104;
	status = "okay";
};

&spdif_8ch {
	status = "okay";
};

&tsadc {
	status = "okay";
};

&tve {
	status = "disabled";
};

&tve_in_vp1 {
	status = "disabled";
};

/*
 * USB 2.0 PHYs: OTG and Host ports.
 * Both PHYs are powered by the GPIO-controlled vcc5v0_host regulator.
 * The OTG PHY is used for USB 2.0 on the DWC3 (USB 3.0) controller.
 * The Host PHY serves the separate EHCI/OHCI controllers (USB 2.0 ports).
 */
&usb2phy {
	status = "okay";
};

&u2phy_otg {
	phy-supply = <&vcc5v0_host>;
	status = "okay";
};

&u2phy_host {
	phy-supply = <&vcc5v0_host>;
	status = "okay";
};

/*
 * EHCI/OHCI USB 2.0 host controllers.
 * These drive the 3 USB 2.0 ports on W132D.
 */
&usb_host0_ehci {
	phys = <&u2phy_host>;
	phy-names = "usb";
	power-domains = <&power RK3528_PD_VO>;
	vbus-supply = <&vcc5v0_host>;
	status = "okay";
};

&usb_host0_ohci {
	phys = <&u2phy_host>;
	phy-names = "usb";
	power-domains = <&power RK3528_PD_VO>;
	vbus-supply = <&vcc5v0_host>;
	status = "okay";
};

/*
 * USB 3.0 (DWC3) controller.
 * Uses u2phy_otg for USB 2.0 and combphy_pu for USB 3.0 SuperSpeed.
 * Quirks and extcon match stock Android DTS configuration.
 * dr_mode = "host" since W132D only needs host mode (no gadget/OTG).
 */
&usbdrd30 {
	status = "okay";
};

&usbdrd_dwc3 {
	dr_mode = "host";
	phy_type = "utmi_wide";
	snps,dis_enblslpm_quirk;
	snps,dis-u1u2-quirk;
	snps,dis-u2-freeclk-exists-quirk;
	snps,dis-del-phy-power-chg-quirk;
	snps,dis-tx-ipgap-linecheck-quirk;
	snps,xhci-trb-ent-quirk;
	snps,dis_rxdet_inp3_quirk;
	quirk-skip-phy-init;
	power-domains = <&power RK3528_PD_VPU>;
	extcon = <&usb2phy>;
	status = "okay";
};

&uart0 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&uart0m0_xfer>;
};

/*
 * UART2: used for Bluetooth HCI.
 * The BT chip uses hardware flow control (RTS/CTS).
 */
&uart2 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&uart2m0_xfer &uart2m0_ctsn>;
};

&vdpp {
	status = "okay";
};

&vdpu {
	status = "okay";
};

&vdpu_mmu {
	status = "okay";
};

&vop {
	status = "okay";
};

&vop_mmu {
	status = "okay";
};